@namespace InnoEdu.Client

@page "/logs"

@inject HttpClient _httpClient

<h3>Logs</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@nameof(LogEntry.Date)</th>
            <th scope="col">@nameof(LogEntry.Type)</th>
            <th scope="col">@nameof(LogEntry.Data)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (LogEntry logEntry in logEntries ?? new())
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td>@logEntry.Date</td>
                <td>@logEntry.Type</td>
                <td>@logEntry.Data</td>
            </tr>
        }
    </tbody>
</table>